<div class="container-lg flex-shrink-0">
  <div class="row">
    <main class="col-lg-12">
      <h1>Pessoas - Angular</h1>
      @if (alerta) {
        <div id="alerta" [class]="'alert ' + obterAlertaClass(alerta.tipo)" role="alert">
          <h4 class="alert-heading">{{alerta.mensagem}}</h4>
        </div>
      }

      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Data nascimento</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody id="dadosTabela">
          @for (pessoa of listaPessoas$ | async; track pessoa.id) {
          <tr>
            <td>{{pessoa.id}}</td>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.email}}</td>
            <td>{{convertIsoDateToDate(pessoa.dataNascimento) | date: 'dd/MM/yyyy'}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Ações">
                <a class="btn btn-primary" role="button" [routerLink]="['alterar', pessoa.id]">
                  <i class="fas fa-edit"></i> Alterar
                </a>
                <button type="button" class="btn btn-danger" (click)="confirmarExclusao(pessoa.id!)">
                  <i class="fas fa-trash-alt"></i> Excluir
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
      <div>
        <a class="btn btn-lg btn-success"
           role="button" [routerLink]="['incluir']">
            <i class="fas fa-plus-square"></i> Incluir novo
        </a>
      </div>
    </main>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal" id="modalExcluir" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel"><i class="fas fa-trash-alt"></i> Confirmar exclusão</h5>
          <button type="button" class="btn-close" (click)="fecharModal()" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          <p id="modalExcluirMsg">{{modal.mensagem}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="fecharModal()">Não</button>
          <form id="modalExcluirForm" style="display: inline-block" method="post">
            <button type="submit" class="btn btn-danger">Sim</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
